.contacts {
    width: 100%;

    &__container {
        .container();
        display: flex;
        margin: 0 auto;
        align-self: flex-start;

        @media @bw1340 {
            display: flex;
            flex-direction: column;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        width: 470px;
        height: 460px;
        gap: 67px;
        position: relative;

        @media @bw1340 {
            height: auto;
            text-align: center;
            min-width: 701px;
            width: 100%;
            gap: 0;
            flex-direction: row;
            order: 2;
        }

        @media @bw768 {
            flex-direction: column;
            min-width: 280px;
        }
    }

    &__place,
    &__lease,
    &__star {
        display: flex;
        align-items: center;
        width: 100%;

        @media @bw1340 {
            display: flexbox;
            flex-direction: column;

        }

        @media @bw768 {
            display: flexbox;
            align-items: start;
            flex-direction: row;
            margin: auto 0;
        }
    }

    &__block,
    &__block2,
    &__block3 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 86px;

        @media @bw1340 {
            align-items: center;
            height: auto;
            gap: 0;
        }

        @media @bw768 {
            align-items: flex-start;
        }
    }

    &__block {
        @media @bw1020 {
            width: 273px;
            text-align: center;
        }
    }

    &__block2 {
        @media @bw1020 {
            width: 160px;
            text-align: center;
        }
    }

    &__block3 {
        @media @bw1020 {
            width: 195px;
            text-align: center;
        }

        @media @bw370 {
            height: 65px;
            text-align: left;
        }
    }

    &__min-block {
        display: flex;
        flex-direction: column;
        gap: 5px;

        @media @bw768 {
            align-items: flex-start;
            gap: 0;
        }
    }

    &__title {
        font-size: 20px;
        font-family: @font1;
        font-weight: 600;
        margin: 0;

        @media @bw1340 {
            font-size: 18px;
            margin-bottom: 10px;

        }

        @media @bw1020 {
            font-size: 18px;
        }

        @media @bw768 {
            font-size: 14px;
        }
    }

    &__text {
        font-size: 16px;
        font-family: @font1;
        font-weight: 400;
        margin: 0;

        @media @bw768 {
            font-size: 14px;
        }
    }

    &__logo {
        position: relative;
        top: 175px;
        left: 377px;
        bottom: 245px;
        z-index: 1;
    }

    &__logo-icon {
        width: 78px;
        height: 57px;
        margin-left: 8px;
        margin-bottom: 5px;
    }

    &__map {
        margin-left: auto;
        width: 100%;
        min-height: 493px;
        max-width: 752px;

        @media @bw1340 {
            max-width: 960px;
            order: 1;
            margin-left: 0;
            max-width: 100%;
            margin-bottom: 100px;
        }

        @media @bw768 {
            min-height: 350px;
        }

        @media @bw600 {
            height: 100%;
            margin-bottom: 59px;
        }

        @media @bw500 {
            height: 100%;
            min-height: 186px;
            margin-bottom: 59px;
        }
    }

    &__img {
        width: 110px;
        height: 110px;
        margin-right: 54px;

        @media @bw1340 {
            margin-right: 0;
            margin-bottom: 30px;
        }

        @media @bw768 {
            width: 65px;
            height: 65px;
            margin-right: 10px;
        }
    }
}