.reserve {
    display: grid;
    gap: 65px 11%;
    grid-template-columns: 405px calc(89% - 405px);
    grid-template-areas:
        "checks scheme"
        "order legend";
    width: 100%;

    &__cheks {
        grid-area: checks;
        background-color: #ffff00;
    }

    &__scheme {
        grid-area: scheme;
        background-color: #00ff40;
    }

    &__order {
        grid-area: order;
        background-color: #00aeff;
    }

    &__legend {
        grid-area: legend;
        background-color: #ff00b3;
    }

}