.reserve {
    display: grid;
    gap: 65px 11%;
    grid-template-columns: 405px calc(89% - 405px);
    grid-template-areas:
        "checks scheme"
        "order legend";
    width: 100%;

    @media @bw1340 {
        grid-template-columns: 340px 1fr;
        gap: 65px 6.5%;
    }

    @media @bw1170 {
        grid-template-columns: 1fr 390px;
        gap: 0;
        grid-template-areas:
            "scheme scheme"
            "checks legend"
            "checks order";
    }

    @media @bw650 {
        grid-template-columns: 100%;
        grid-template-areas:
            "scheme"
            "legend"
            "checks"
            "order";
    }

    &__check {
        grid-area: checks;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 10px 0 0;
    }



    &__scheme {
        grid-area: scheme;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media @bw1170 {
            align-items: center;
        }
    }

    &__scheme-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__order {
        grid-area: order;
    }

    &__legend {
        grid-area: legend;
        display: flex;
        flex-direction: column;
        align-items: end;

        @media @bw1170 {
            width: 100%;
        }

        @media @bw650 {
            align-items: flex-start;
            ;
        }
    }

    &__legend-item {
        display: flex;
        margin-bottom: 13px;

    }

    &__box-red {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border: 1px solid @gray;
        background-color: @red;
    }

    &__box-black {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border: 1px solid @gray;
        background-color: @black;
    }

    &__note {
        display: flex;
        margin-bottom: 5px;
    }

    &__unavailable,
    &__available {
        display: flex;
        margin-bottom: 13px;
    }

    &__unavailable {
        float: right;
        gap: 28px;
    }

    .circle-cross {
        position: relative;
        height: 100%;
    }

    .circle-cross__circle {
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 1px solid #333;
    }

    .circle-cross__circle--first {
        border-color: @black;
    }

    .circle-cross__circle--second {
        left: 12px;
        border-color: @red;
    }

    &__icon {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        background-color: @gray_dark;
        border-radius: 50%;
    }

    &__section-title {
        padding: 80px 0 30px 0;
        font-family: @font1;
        font-size: 20px;
        font-weight: 700;

        @media @bw1170 {
            padding: 0;
            font-size: 16px;
        }
    }

    &__scheme-title {
        display: flex;
        width: 162px;
        justify-content: center;
        align-items: center;
        background-color: @black;
        color: @white;
        font-family: @font1;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.375;
        text-align: center;
        text-transform: uppercase;
        padding: 6px 56px;
    }






    &__scheme-wrapper {
        position: relative;
        width: 100%;

        &::after {
            content: "";
            display: block;
            width: 100%;
        }
    }

    &__scene {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__tickets {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__qty {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 18px;

        &::after {
            content: " " attr(data-caption) " | " attr(data-price);
        }
    }

    &__sum {
        &::after {
            content: attr(data-currency);
            margin-left: 4px;
            font-size: 0.95em;
        }
    }

    &__total {
        font-size: 20px;
        font-weight: 600;
        margin: 12px auto 50px;
        text-align: center;

        &::before {
            content: attr(data-caption);
            margin-right: 30px;
        }

        &::after {
            content: attr(data-currency);
            margin-left: 4px;
            font-size: 0.95em;
        }
    }

    &__submit {
        width: 100%;
    }

    &__descr-open {
        display: flex;
        flex-direction: row;
        margin-left: 57px;
    }



}