.subscribe-form {
    max-width: 405px;
    margin-left: auto;
    width: 100%;

    @media @bw768 {
        max-width: 320px;
        margin: 0 auto;
    }

    &__wrapper {
        display: flex;
        width: 405px;
        width: 100%;
        margin-bottom: 15px;
        justify-content: flex-end;
    }

    &__input {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border: none;
        background-color: @white;
        font-size: 16px;
        line-height: 1.375;
        height: 40px;
        padding-left: 28px;
        width: 270px;

        @media @bw768 {
            width: 204px;
            font-size: 12px;
        }

    }

    &__submit {
        font-family: @font1;
        background-color: @black;
        color: @white;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        outline: none;
        border: none;
        padding: 12px 23px;
        height: 40px;

        @media @bw768 {
            width: 116px;
            font-size: 12px;
        }
    }

    &__title {
        margin-bottom: 14px;

        @media @bw768 {
            margin-left: 20px;
            font-size: 13px;
            font-weight: 400;
        }
    }

    &__check-label {
        font-size: 14px;

        @media @bw768 {
            font-size: 13px;
            font-weight: 400;
        }
    }

    &__mark {
        margin: auto;

        @media @bw768 {
            margin-left: 20px;
        }
    }
}